*,
*::before,
*::after {
  box-sizing: border-box;
}

.is-hidden {
  display: none !important;
}

.ColorBackground {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: all 0.2s cubic-bezier(0.4, 0, .2, 1);
}

.ColorBackground[data-state="preview"] {
  background: #4fb55d;
}

.ColorBackground[data-state="live"] {
  background: #eb3730;
}

.ChannelLabel {
  position: fixed;
  bottom: 32px;
  right: 0;
  left: 0;
  max-width: 240px;
  margin: auto;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1.6rem;
  text-align: center;
  background: rgba(200, 200, 200, 0.8);
}

.Crumpet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
  height: 60px;
  margin: auto;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 2rem;
  text-align: center;
  background: rgba(200, 200, 200, 0.9);
  transform: translateY(40px);
  transition: all 0.4s cubic-bezier(0.4, 0, .2, 1);
  opacity: 0;
  pointer-events: none;
}

.Crumpet.is-active {
  transform: none;
  opacity: 1;
}

.Settings {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
}

.Settings-title {
  text-align: center;
}

.Settings-channels {
  display: flex;
  flex-flow: row wrap;
}

.Settings-channels-button {
  flex: 1 1 200px;
  margin: 4px 12px;
  padding: 12px 24px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background: #139ff0;
  cursor: pointer;
}

.Settings-channels-button:hover {
  background: #0087e0;
}

.Settings-messages-button {
  flex: 1 1 200px;
  margin: 4px 12px;
  padding: 12px 24px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background: #900C3F;
  cursor: pointer;
}

.Settings-messages-button:hover {
  background: #581845;
}

.SettingsToggle {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 16px;
  border: 0;
  background: none;
  cursor: pointer;
}
